<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Graph Algorithms</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

		<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha384-3fJQsoYfC9zrLJL3anVVH0M2y0lwj+/lZ+OGkrG/CfRnJ+q5KG8mYZTI5g6YI6z9"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<h1 class="text-center">Graph Algorithms</h1>
				<hr />
				<div class="col-md-8 col-md-offset-2">
					<form method="POST">
						<div class="form-group">
							<label for="num_nodes">Number of Nodes:</label>
							<input
								type="number"
								class="form-control"
								name="num_nodes"
								id="num_nodes"
								required
							/>
						</div>
						<div class="form-group">
							<label for="start_node">Start Node:</label>
							<select
								class="form-control"
								name="start_node"
								id="start_node"
								required
							>
								<!-- Options dynamically generated based on the number of nodes -->
							</select>
						</div>
						<table class="table table-bordered" id="adj_matrix_table">
							<!-- Dynamically generated table for adjacency matrix -->
							<script>
								$("#num_nodes").on("input", function () {
									const numNodes = $(this).val();
									const startNodeSelect = $("#start_node");
									const adjMatrixTable = $("#adj_matrix_table");
									startNodeSelect.empty();
									adjMatrixTable.empty();

									const headerRow = $("<tr>");
									headerRow.append($("<th>"));
									for (let i = 0; i < numNodes; i++) {
										const th = $("<th>").text(i);
										headerRow.append(th);
										const option = $("<option>").attr("value", i).text(i);
										startNodeSelect.append(option);
									}
									adjMatrixTable.append(headerRow);

									for (let i = 0; i < numNodes; i++) {
										const row = $("<tr>");
										const th = $("<th>").text(i);
										row.append(th);
										for (let j = 0; j < numNodes; j++) {
											const td = $("<td>");
											const input = $("<input>").attr({
												type: "number",
												name: `adj_matrix_${i}_${j}`,
												required: true,
											});
											td.append(input);
											row.append(td);
										}
										adjMatrixTable.append(row);
									}
								});
							</script>
						</table>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
